* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

body {
    height: 900px;
}

#root {
    --cor1: #D48DF2;
    --cor2: #9130F2;
    --cor3: #94ABF2;
    --cor4: #1B78F2;
    --cor5: #0D0D0D;
}

.home-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.video-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: 0;
    filter: brightness(0.89);
}

.nav-home {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 2;
}

.glass-card {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 2rem;
    border-radius: 16px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.3);
    max-width: 400px;
    text-align: center;
    color: #fff;
    position: relative;
    z-index: 1;
    transition: 0.5s ease-in-out;
}

.glass-card:hover {
    transform: scale(1.02);
}

.informacoes-home {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100px;
    z-index: 1;
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.349);
}

.link-git {
    color: var(--cor2);
    text-decoration: none;
}