* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

#root {
    --cor1: #D48DF2;
    --cor2: #9130F2;
    --cor3: #94ABF2;
    --cor4: #1B78F2;
    --cor5: #0D0D0D;
}

.home-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.video-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: 0;
}

.conteudo {
    position: relative;
    z-index: 1;
    color: rgb(255, 255, 255);
    text-align: center;
}